## stocks

In [ ]:

from credentials import api_key,secret_key
from alpaca.data.historical.stock import StockHistoricalDataClient

# setup stock historical data client
stock_historical_data_client = StockHistoricalDataClient(api_key, secret_key)

In [ ]:
!pip3 install pendulum

In [31]:
from alpaca.data.requests import StockBarsRequest
from alpaca.data.timeframe import TimeFrame, TimeFrameUnit
import pendulum as dt
timez_zone="America/New_York"
current_time=dt.now(tz=timez_zone)
print(current_time)
req = StockBarsRequest(
    symbol_or_symbols = 'AMZN',
    timeframe=TimeFrame(amount = 1, unit = TimeFrameUnit.Minute), # specify timeframe
    start = current_time-dt.duration(days=30),                          # specify start datetime, default=the beginning of the current day.
    end_date=current_time-dt.duration(days=10),                                        # specify end datetime, default=now
    # limit = 2,                                               # specify limit
)

history1=stock_historical_data_client.get_stock_bars(req).df
history1

2025-02-16 04:42:21.311724-05:00

                                      open    high       low     close  \
symbol timestamp
AMZN   2025-01-17 09:49:00+00:00  221.9900  221.99  221.9900  221.9900
       2025-01-17 09:54:00+00:00  221.9300  221.93  221.9300  221.9300
       2025-01-17 09:56:00+00:00  221.9400  221.94  221.9200  221.9200
       2025-01-17 09:59:00+00:00  221.9900  221.99  221.9900  221.9900
       2025-01-17 10:02:00+00:00  221.9900  221.99  221.9900  221.9900
...                                    ...     ...       ...       ...
       2025-02-15 00:54:00+00:00  228.5996  228.60  228.5996  228.6000
       2025-02-15 00:55:00+00:00  228.5500  228.55  228.5500  228.5500
       2025-02-15 00:56:00+00:00  228.5900  228.60  228.5600  228.6000
       2025-02-15 00:58:00+00:00  228.5700  228.57  228.5700  228.5700
       2025-02-15 00:59:00+00:00  228.6000  228.60  228.5997  228.5997

                                  volume  trade_count        vwap
symbol timestamp
AMZN   2025-01-17 09:49:00+00:00   259.0          6.0  221.990000
       2025-01-17 09:54:00+00:00   311.0         18.0  221.930000
       2025-01-17 09:56:00+00:00   389.0         16.0  221.929852
       2025-01-17 09:59:00+00:00   211.0          6.0  221.990000
       2025-01-17 10:02:00+00:00   103.0          2.0  221.990000
...                                  ...          ...         ...
       2025-02-15 00:54:00+00:00  1060.0         15.0  228.599760
       2025-02-15 00:55:00+00:00   625.0         23.0  228.550000
       2025-02-15 00:56:00+00:00   864.0         20.0  228.571102
       2025-02-15 00:58:00+00:00  2358.0         15.0  228.570000
       2025-02-15 00:59:00+00:00   772.0         23.0  228.599820

[15612 rows x 7 columns]

## crypto

In [18]:
from alpaca.data.historical.crypto import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame, TimeFrameUnit

crypto_historical_data_client = CryptoHistoricalDataClient()
req = CryptoBarsRequest(
    symbol_or_symbols = 'ETH/USD',
    timeframe=TimeFrame(amount = 1, unit = TimeFrameUnit.Day), # specify timeframe
    start = dt.datetime(2024,1,1,1,1,1,tz=timez_zone),                          # specify start datetime, default=the beginning of the current day.
    end=dt.datetime(2024,12,30,1,1,1,tz=timez_zone),                                        # specify end datetime, default=now
    # limit = 2,                                               # specify limit
)

history_df2=crypto_historical_data_client.get_crypto_bars(req).df
history_df2

                                        open       high          low  \
symbol  timestamp
ETH/USD 2024-01-02 06:00:00+00:00  2380.4135  2433.1650  2346.870000
        2024-01-03 06:00:00+00:00  2378.4850  2384.8500  2109.520500
        2024-01-04 06:00:00+00:00  2238.9500  2297.1050  2198.158623
        2024-01-05 06:00:00+00:00  2247.5200  2278.7645  2152.205000
        2024-01-06 06:00:00+00:00  2236.9120  2255.9040  2191.906259
...                                      ...        ...          ...
        2024-12-26 06:00:00+00:00  3438.9820  3446.3450  3302.450000
        2024-12-27 06:00:00+00:00  3382.7910  3437.4950  3301.661000
        2024-12-28 06:00:00+00:00  3344.9650  3421.2010  3328.640000
        2024-12-29 06:00:00+00:00  3379.4675  3430.2855  3320.766000
        2024-12-30 06:00:00+00:00  3403.2250  3427.5385  3297.665000

                                       close     volume  trade_count  \
symbol  timestamp
ETH/USD 2024-01-02 06:00:00+00:00  2378.6500  22.437475        157.0
        2024-01-03 06:00:00+00:00  2238.3500  37.659165        120.0
        2024-01-04 06:00:00+00:00  2249.6590  43.845162         87.0
        2024-01-05 06:00:00+00:00  2238.8400   5.850632         72.0
        2024-01-06 06:00:00+00:00  2243.4000   2.900402         45.0
...                                      ...        ...          ...
        2024-12-26 06:00:00+00:00  3380.3335  28.702318        139.0
        2024-12-27 06:00:00+00:00  3344.2200   7.202345        169.0
        2024-12-28 06:00:00+00:00  3381.5190  27.209559        208.0
        2024-12-29 06:00:00+00:00  3401.3925   5.527485         35.0
        2024-12-30 06:00:00+00:00  3340.1900  12.179251        320.0

                                          vwap
symbol  timestamp
ETH/USD 2024-01-02 06:00:00+00:00  2373.065417
        2024-01-03 06:00:00+00:00  2226.475601
        2024-01-04 06:00:00+00:00  2250.860023
        2024-01-05 06:00:00+00:00  2238.169717
        2024-01-06 06:00:00+00:00  2240.477249
...                                        ...
        2024-12-26 06:00:00+00:00  3336.941237
        2024-12-27 06:00:00+00:00  3353.317006
        2024-12-28 06:00:00+00:00  3341.629721
        2024-12-29 06:00:00+00:00  3379.948287
        2024-12-30 06:00:00+00:00  3379.363194

[364 rows x 7 columns]

In [ ]:
history1.reset_index().drop('symbol',axis=1).set_index('timestamp')['2025-01-18':'2025-02-14'].tz_localize(None)

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2025-01-18 00:00:00,226.3000,226.3000,226.3000,226.3000,191.0,20.0,226.300000
2025-01-18 00:02:00,226.2616,226.2616,226.2616,226.2616,1042.0,13.0,226.261600
2025-01-18 00:04:00,226.2424,226.2424,226.2424,226.2424,206.0,11.0,226.242400
2025-01-18 00:05:00,226.2526,226.3386,226.2526,226.3386,1237.0,17.0,226.300980
2025-01-18 00:07:00,226.2502,226.2516,226.2502,226.2516,609.0,8.0,226.250435
...,...,...,...,...,...,...,...
2025-02-14 23:32:00,228.6100,228.6100,228.6100,228.6100,251.0,13.0,228.610000
2025-02-14 23:40:00,228.6800,228.6800,228.6800,228.6800,206.0,12.0,228.680000
2025-02-14 23:41:00,228.6497,228.6497,228.6497,228.6497,1022.0,21.0,228.649700
2025-02-14 23:44:00,228.6500,228.6500,228.6500,228.6500,276.0,12.0,228.650000
2025-02-14 23:51:00,228.6778,228.6778,228.6778,228.6778,224.0,18.0,228.677800

## option

In [40]:
from alpaca.data.historical.option import OptionHistoricalDataClient
from alpaca.data.requests import OptionBarsRequest
from alpaca.data.timeframe import TimeFrame, TimeFrameUnit

option_historical_data_client=OptionHistoricalDataClient(api_key=api_key,secret_key=secret_key)
# get options historical bars by symbol
req = OptionBarsRequest(
    symbol_or_symbols = 'SPY250214P00604000',
    timeframe = TimeFrame(amount = 1, unit = TimeFrameUnit.Hour),   # specify timeframe
    start = dt.datetime(2025,2,11,1,1,1,tz=timez_zone),                          # specify start datetime, default=the beginning of the current day.
    end=dt.datetime(2025,2,15,1,1,1,tz=timez_zone),                                              # specify end datetime, default=now
    # limit = 2,                                                      # specify limit
)
history3=option_historical_data_client.get_option_bars(req).df
history3

                                              open  high   low  close  \
symbol             timestamp
SPY250214P00604000 2025-02-11 14:00:00+00:00  4.06  4.14  3.59   3.78
                   2025-02-11 15:00:00+00:00  3.70  4.01  2.68   2.90
                   2025-02-11 16:00:00+00:00  2.81  3.14  2.74   3.06
                   2025-02-11 17:00:00+00:00  3.13  3.62  2.92   3.23
                   2025-02-11 18:00:00+00:00  3.28  3.35  2.57   2.82
                   2025-02-11 19:00:00+00:00  2.89  2.93  2.31   2.47
                   2025-02-11 20:00:00+00:00  2.42  2.77  2.35   2.51
                   2025-02-11 21:00:00+00:00  2.44  2.56  2.40   2.51
                   2025-02-12 14:00:00+00:00  5.60  6.14  4.00   4.20
                   2025-02-12 15:00:00+00:00  4.15  5.42  3.00   3.35
                   2025-02-12 16:00:00+00:00  3.41  4.82  2.68   2.77
                   2025-02-12 17:00:00+00:00  2.83  2.90  2.25   2.32
                   2025-02-12 18:00:00+00:00  2.30  3.00  2.25   2.81
                   2025-02-12 19:00:00+00:00  2.88  3.15  2.22   2.40
                   2025-02-12 20:00:00+00:00  2.36  2.98  2.31   2.51
                   2025-02-12 21:00:00+00:00  2.48  2.70  2.41   2.60
                   2025-02-13 14:00:00+00:00  1.97  2.64  1.67   1.77
                   2025-02-13 15:00:00+00:00  1.77  2.04  0.89   1.00
                   2025-02-13 16:00:00+00:00  1.00  1.40  0.92   1.24
                   2025-02-13 17:00:00+00:00  1.27  1.47  1.02   1.30
                   2025-02-13 18:00:00+00:00  1.36  1.70  0.79   0.80
                   2025-02-13 19:00:00+00:00  0.85  0.85  0.41   0.47
                   2025-02-13 20:00:00+00:00  0.47  0.47  0.27   0.30
                   2025-02-13 21:00:00+00:00  0.30  0.31  0.28   0.30
                   2025-02-14 14:00:00+00:00  0.21  0.21  0.13   0.14
                   2025-02-14 15:00:00+00:00  0.13  0.15  0.06   0.06
                   2025-02-14 16:00:00+00:00  0.07  0.11  0.05   0.05
                   2025-02-14 17:00:00+00:00  0.05  0.08  0.03   0.04
                   2025-02-14 18:00:00+00:00  0.03  0.04  0.02   0.02
                   2025-02-14 19:00:00+00:00  0.02  0.06  0.01   0.02
                   2025-02-14 20:00:00+00:00  0.02  0.03  0.01   0.01
                   2025-02-14 21:00:00+00:00  0.01  0.01  0.01   0.01

                                               volume  trade_count      vwap
symbol             timestamp
SPY250214P00604000 2025-02-11 14:00:00+00:00   1420.0        302.0  3.794972
                   2025-02-11 15:00:00+00:00   2600.0        572.0  3.249927
                   2025-02-11 16:00:00+00:00   2868.0        487.0  2.922556
                   2025-02-11 17:00:00+00:00   3392.0        550.0  3.245938
                   2025-02-11 18:00:00+00:00   2591.0        350.0  2.963848
                   2025-02-11 19:00:00+00:00   1744.0        299.0  2.647729
                   2025-02-11 20:00:00+00:00   3418.0        661.0  2.594143
                   2025-02-11 21:00:00+00:00    254.0         35.0  2.498740
                   2025-02-12 14:00:00+00:00   2700.0        606.0  5.433933
                   2025-02-12 15:00:00+00:00   1396.0        178.0  4.126118
                   2025-02-12 16:00:00+00:00    636.0        131.0  3.778396
                   2025-02-12 17:00:00+00:00   3065.0        423.0  2.596571
                   2025-02-12 18:00:00+00:00   2573.0        434.0  2.649063
                   2025-02-12 19:00:00+00:00   1788.0        386.0  2.743372
                   2025-02-12 20:00:00+00:00   2710.0        355.0  2.563391
                   2025-02-12 21:00:00+00:00    612.0         52.0  2.530621
                   2025-02-13 14:00:00+00:00  11554.0       1976.0  2.074933
                   2025-02-13 15:00:00+00:00  17175.0       2429.0  1.309117
                   2025-02-13 16:00:00+00:00   9095.0       1346.0  1.125693
                   2025-02-13 17:00:00+00:00   6038.0        624.0  1.171380
                   2025-02-13 18:00:00+00:00  10656.0       1447.0  1.209326
                   2025-02-13 19:00:00+00:00   9120.0       1263.0  0.587570
                   2025-02-13 20:00:00+00:00   4998.0       1118.0  0.376547
                   2025-02-13 21:00:00+00:00   2148.0        296.0  0.292803
                   2025-02-14 14:00:00+00:00  10120.0       1189.0  0.160447
                   2025-02-14 15:00:00+00:00  10566.0       1018.0  0.104748
                   2025-02-14 16:00:00+00:00  12770.0        591.0  0.074333
                   2025-02-14 17:00:00+00:00   6464.0        416.0  0.062011
                   2025-02-14 18:00:00+00:00   5600.0        247.0  0.035075
                   2025-02-14 19:00:00+00:00   1683.0        231.0  0.017457
                   2025-02-14 20:00:00+00:00   7774.0        704.0  0.011096
                   2025-02-14 21:00:00+00:00     17.0          5.0  0.010000